@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/images/movie-background2.webp") center/cover no-repeat;
  filter: brightness(1.15); /* 1.0 = normal, 1.1 = 10% lighter */
  z-index: -1;
}
